language: node_js
node_js: lts/*
sudo: false
branches:
  only:
    - master
addons:
  chrome: stable
script:
  - npm run lint
  - npm run test
  - npm run build
install:
  - npm install
deploy:
  provider: heroku
  api_key:
    secure: kfqlUgEoNH43faQa1nYhJOLotOuuYBXT2BrsBMOeO7GO3F+fgU1zCarWR5V11Q2Vh82ivJaJIpRx3Ui5GtL2yPsOEw9eat3zkICcZt5Okd62iH3LmkOLZBGQUyTfr3hlHjQCMlzp3QfrILYJ/JmIQCydn4/XBteQMIOorGIDSBwf8UDzwstrBC0rqeOyFFJC8mtwf03eQakiHjxr7MVW1sIpo3L4/0I7xZ7eW3bpwWX7SbjogvjkwBRuB24B/RduyR0FgkJJlSTQ7PH6npMPVA3Lj4ilV5EoA1143JCxqsPf19lMdC/3i0MD+Q0i5SY60yUBgjnZRl80hRmvIjRIzbseLPPMD969jiQBVucl170DfTRKVDYWa0d9jwNEBEeo8yyQc92gkqQyaVdQxQfdH4ZAjWKzf/S17cVDjkcGJE38t45Zv5DeF17Efe88Ot7OwfEBsq2oNlpcQu0mhdAOtXYAmWw3BPaKxvl05RJ5QdPqtuWtGdwDGAzkkuFperr6xzbhTWAR70stFDOh370qN/kS7IcVuwRlzeRLDb9gd77yURgXPYFeSkZhzimHVc3n5oco9zUoOZ1RxJrTDYCmS+9Hd1UYC/iR56uNpjCdsRIv1BS57HqC1D/7Bxjp/T4jr2bw0gWtTF7Nuwh0sPqKGrwTCYCZoS9Gbv7DmzxUPtg=
  app: ci-cd-hacker-example
  on:
    repo: imanishdhar/hacker-news-feed
env:
  matrix:
    secure: $GITHUB_TOKEN
notifications:
  email:
    - mandy.dwivedi@gmail.com
cache:
  yarn: true
  directories:
    - node_modules
